<a href="https://colab.research.google.com/github/JasmineVan/NeuralNetworkML/blob/main/Midterm_Ex3_NeuralNetwork.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import thư viện

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from tensorflow.keras import layers
from tensorflow.keras import models
from tensorflow.keras.utils import to_categorical
import matplotlib.pyplot as plt

# Classification

In [ ]:
col_names = ['Sex','Length','Diameter','Height','Whole weight','Shucked weight','Viscera weight','Shell weight','Rings']
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/ML/abalone.data", names=col_names)
df.head(5)

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

## Data preprocessing

In [ ]:
# Label encoder cho cột Sex
col_encode = ['Sex']

LE = LabelEncoder()
df[col_encode] = df[col_encode].apply(LE.fit_transform)
df.head()

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,2,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,2,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,0,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,2,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,1,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [ ]:
df['Rings'] = df['Rings'].apply(lambda x: 0 if x < 9 else (1 if x <= 10 else 2))
df.drop(df[df['Height']==0].index, axis=0)

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,2,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,2
1,2,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,0
2,0,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,1
3,2,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,1
4,1,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,0
...,...,...,...,...,...,...,...,...,...
4172,0,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,2
4173,2,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,1
4174,2,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,1
4175,0,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,1
4176,2,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,2

In [ ]:
X = df.iloc[:,0:8]
print(X.shape)
print(X[:5])

(4177, 8)
   Sex  Length  Diameter  Height  Whole weight  Shucked weight  \
0    2   0.455     0.365   0.095        0.5140          0.2245
1    2   0.350     0.265   0.090        0.2255          0.0995
2    0   0.530     0.420   0.135        0.6770          0.2565
3    2   0.440     0.365   0.125        0.5160          0.2155
4    1   0.330     0.255   0.080        0.2050          0.0895

   Viscera weight  Shell weight
0          0.1010         0.150
1          0.0485         0.070
2          0.1415         0.210
3          0.1140         0.155
4          0.0395         0.055

In [ ]:
y = df.iloc[:,8]
print(y.shape)
print(y[:5])

(4177,)
0    2
1    0
2    1
3    1
4    0
Name: Rings, dtype: int64

In [ ]:
y = to_categorical(y)
print(y[:2])

[[0. 0. 1.]
 [1. 0. 0.]]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

print('Train:')
print(X_train.shape)
print(y_train.shape)
print('Test:')
print(X_test.shape)
print(y_test.shape)

Train:
(3341, 8)
(3341, 3)
Test:
(836, 8)
(836, 3)

In [ ]:
model = models.Sequential()
model.add(layers.Dense(16, activation='tanh'))
model.add(layers.Dense(32, activation='sigmoid'))
model.add(layers.Dense(64, activation='sigmoid'))
model.add(layers.Dense(3,activation='softmax'))
model.compile(loss='categorical_crossentropy', optimizer='adam', 
              metrics=['accuracy'])

In [ ]:
model.fit(X_train,y_train,epochs=50, batch_size=10, verbose=2)

Epoch 1/50
335/335 - 2s - loss: 1.0332 - accuracy: 0.4648 - 2s/epoch - 5ms/step
Epoch 2/50
335/335 - 1s - loss: 0.8853 - accuracy: 0.5573 - 597ms/epoch - 2ms/step
Epoch 3/50
335/335 - 1s - loss: 0.8686 - accuracy: 0.5669 - 649ms/epoch - 2ms/step
Epoch 4/50
335/335 - 1s - loss: 0.8629 - accuracy: 0.5732 - 706ms/epoch - 2ms/step
Epoch 5/50
335/335 - 1s - loss: 0.8544 - accuracy: 0.5747 - 627ms/epoch - 2ms/step
Epoch 6/50
335/335 - 1s - loss: 0.8506 - accuracy: 0.5735 - 717ms/epoch - 2ms/step
Epoch 7/50
335/335 - 1s - loss: 0.8355 - accuracy: 0.5858 - 761ms/epoch - 2ms/step
Epoch 8/50
335/335 - 1s - loss: 0.8279 - accuracy: 0.5938 - 590ms/epoch - 2ms/step
Epoch 9/50
335/335 - 1s - loss: 0.8148 - accuracy: 0.6031 - 630ms/epoch - 2ms/step
Epoch 10/50
335/335 - 1s - loss: 0.8032 - accuracy: 0.6082 - 867ms/epoch - 3ms/step
Epoch 11/50
335/335 - 1s - loss: 0.7934 - accuracy: 0.6193 - 779ms/epoch - 2ms/step
Epoch 12/50
335/335 - 1s - loss: 0.7908 - accuracy: 0.6187 - 627ms/epoch - 2ms/step
Epoch 13/50
335/335 - 1s - loss: 0.7840 - accuracy: 0.6217 - 856ms/epoch - 3ms/step
Epoch 14/50
335/335 - 1s - loss: 0.7792 - accuracy: 0.6330 - 1s/epoch - 3ms/step
Epoch 15/50
335/335 - 1s - loss: 0.7705 - accuracy: 0.6330 - 675ms/epoch - 2ms/step
Epoch 16/50
335/335 - 1s - loss: 0.7707 - accuracy: 0.6321 - 608ms/epoch - 2ms/step
Epoch 17/50
335/335 - 1s - loss: 0.7724 - accuracy: 0.6351 - 742ms/epoch - 2ms/step
Epoch 18/50
335/335 - 1s - loss: 0.7671 - accuracy: 0.6375 - 723ms/epoch - 2ms/step
Epoch 19/50
335/335 - 1s - loss: 0.7635 - accuracy: 0.6369 - 832ms/epoch - 2ms/step
Epoch 20/50
335/335 - 1s - loss: 0.7600 - accuracy: 0.6372 - 698ms/epoch - 2ms/step
Epoch 21/50
335/335 - 1s - loss: 0.7620 - accuracy: 0.6339 - 763ms/epoch - 2ms/step
Epoch 22/50
335/335 - 0s - loss: 0.7596 - accuracy: 0.6393 - 369ms/epoch - 1ms/step
Epoch 23/50
335/335 - 0s - loss: 0.7589 - accuracy: 0.6414 - 350ms/epoch - 1ms/step
Epoch 24/50
335/335 - 0s - loss: 0.7590 - accuracy: 0.6444 - 340ms/epoch - 1ms/step
Epoch 25/50
335/335 - 0s - loss: 0.7559 - accuracy: 0.6339 - 350ms/epoch - 1ms/step
Epoch 26/50
335/335 - 0s - loss: 0.7553 - accuracy: 0.6387 - 344ms/epoch - 1ms/step
Epoch 27/50
335/335 - 0s - loss: 0.7518 - accuracy: 0.6495 - 341ms/epoch - 1ms/step
Epoch 28/50
335/335 - 0s - loss: 0.7508 - accuracy: 0.6453 - 362ms/epoch - 1ms/step
Epoch 29/50
335/335 - 0s - loss: 0.7529 - accuracy: 0.6459 - 358ms/epoch - 1ms/step
Epoch 30/50
335/335 - 0s - loss: 0.7490 - accuracy: 0.6396 - 340ms/epoch - 1ms/step
Epoch 31/50
335/335 - 0s - loss: 0.7518 - accuracy: 0.6390 - 368ms/epoch - 1ms/step
Epoch 32/50
335/335 - 0s - loss: 0.7479 - accuracy: 0.6423 - 354ms/epoch - 1ms/step
Epoch 33/50
335/335 - 0s - loss: 0.7427 - accuracy: 0.6537 - 344ms/epoch - 1ms/step
Epoch 34/50
335/335 - 0s - loss: 0.7489 - accuracy: 0.6477 - 368ms/epoch - 1ms/step
Epoch 35/50
335/335 - 0s - loss: 0.7469 - accuracy: 0.6420 - 350ms/epoch - 1ms/step
Epoch 36/50
335/335 - 0s - loss: 0.7407 - accuracy: 0.6471 - 343ms/epoch - 1ms/step
Epoch 37/50
335/335 - 0s - loss: 0.7427 - accuracy: 0.6495 - 346ms/epoch - 1ms/step
Epoch 38/50
335/335 - 0s - loss: 0.7405 - accuracy: 0.6483 - 343ms/epoch - 1ms/step
Epoch 39/50
335/335 - 0s - loss: 0.7399 - accuracy: 0.6501 - 358ms/epoch - 1ms/step
Epoch 40/50
335/335 - 0s - loss: 0.7394 - accuracy: 0.6534 - 349ms/epoch - 1ms/step
Epoch 41/50
335/335 - 0s - loss: 0.7438 - accuracy: 0.6432 - 346ms/epoch - 1ms/step
Epoch 42/50
335/335 - 0s - loss: 0.7408 - accuracy: 0.6474 - 341ms/epoch - 1ms/step
Epoch 43/50
335/335 - 0s - loss: 0.7370 - accuracy: 0.6489 - 344ms/epoch - 1ms/step
Epoch 44/50
335/335 - 0s - loss: 0.7382 - accuracy: 0.6516 - 350ms/epoch - 1ms/step
Epoch 45/50
335/335 - 0s - loss: 0.7380 - accuracy: 0.6522 - 348ms/epoch - 1ms/step
Epoch 46/50
335/335 - 0s - loss: 0.7328 - accuracy: 0.6537 - 345ms/epoch - 1ms/step
Epoch 47/50
335/335 - 0s - loss: 0.7372 - accuracy: 0.6468 - 346ms/epoch - 1ms/step
Epoch 48/50
335/335 - 0s - loss: 0.7365 - accuracy: 0.6546 - 371ms/epoch - 1ms/step
Epoch 49/50
335/335 - 0s - loss: 0.7354 - accuracy: 0.6525 - 351ms/epoch - 1ms/step
Epoch 50/50
335/335 - 0s - loss: 0.7336 - accuracy: 0.6522 - 342ms/epoch - 1ms/step

In [ ]:
y_pred = model.predict(X_test)
print(y_pred[:2])

[[0.03744915 0.32828552 0.6342653 ]
 [0.15922385 0.31297147 0.5278047 ]]

In [ ]:
y_pred = y_pred.argmax(axis=1)
y_pred = to_categorical(y_pred)
print(y_pred[:2])
print(y_test[:2])
print(y_pred.shape, y_test.shape)

[[0. 0. 1.]
 [0. 0. 1.]]
[[0. 0. 1.]
 [0. 1. 0.]]
(836, 3) (836, 3)

In [ ]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.74      0.86      0.79       304
           1       0.54      0.49      0.51       253
           2       0.73      0.66      0.69       279

   micro avg       0.68      0.68      0.68       836
   macro avg       0.67      0.67      0.67       836
weighted avg       0.68      0.68      0.68       836
 samples avg       0.68      0.68      0.68       836

# Regression

In [ ]:
df_reg = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/ML/hour.csv")
df_reg.head(5)

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [ ]:
df_reg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     17379 non-null  int64
 1   dteday      17379 non-null  object
 2   season      17379 non-null  int64
 3   yr          17379 non-null  int64
 4   mnth        17379 non-null  int64
 5   hr          17379 non-null  int64
 6   holiday     17379 non-null  int64
 7   weekday     17379 non-null  int64
 8   workingday  17379 non-null  int64
 9   weathersit  17379 non-null  int64
 10  temp        17379 non-null  float64
 11  atemp       17379 non-null  float64
 12  hum         17379 non-null  float64
 13  windspeed   17379 non-null  float64
 14  casual      17379 non-null  int64
 15  registered  17379 non-null  int64
 16  cnt         17379 non-null  int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.3+ MB

In [ ]:
df_reg = df_reg.rename(columns={'weathersit':'weather',
                       'yr':'year',
                       'mnth':'month',
                       'hr':'hour',
                       'hum':'humidity',
                       'cnt':'count'})

df_reg = df_reg.drop(columns = ['instant' , 'dteday' , 'year'])

In [ ]:
df_reg.head(5)

,season,month,hour,holiday,weekday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,1,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,1,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,1,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,1,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,1,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [ ]:
cols = ['weather','temp','atemp','humidity','windspeed','casual','registered']
df_reg[cols]

       weather  temp   atemp  humidity  windspeed  casual  registered
0            1  0.24  0.2879      0.81     0.0000       3          13
1            1  0.22  0.2727      0.80     0.0000       8          32
2            1  0.22  0.2727      0.80     0.0000       5          27
3            1  0.24  0.2879      0.75     0.0000       3          10
4            1  0.24  0.2879      0.75     0.0000       0           1
...        ...   ...     ...       ...        ...     ...         ...
17374        2  0.26  0.2576      0.60     0.1642      11         108
17375        2  0.26  0.2576      0.60     0.1642       8          81
17376        1  0.26  0.2576      0.60     0.1642       7          83
17377        1  0.26  0.2727      0.56     0.1343      13          48
17378        1  0.26  0.2727      0.65     0.1343      12          37

[17379 rows x 7 columns]

In [ ]:
X = df_reg[cols]
y = df_reg['count']
print(X[:2])
print(y[:2])

   weather  temp   atemp  humidity  windspeed  casual  registered
0        1  0.24  0.2879      0.81        0.0       3          13
1        1  0.22  0.2727      0.80        0.0       8          32
0    16
1    40
Name: count, dtype: int64

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

print('Train:')
print(X_train.shape)
print(y_train.shape)
print('Test:')
print(X_test.shape)
print(y_test.shape)

Train:
(13903, 7)
(13903,)
Test:
(3476, 7)
(3476,)

In [ ]:
normalizer = layers.Normalization(axis=-1)

In [ ]:
normalizer.adapt(np.array(X_train))

In [ ]:
print(normalizer.mean.numpy())

[[  1.4231471    0.4979401    0.4767292    0.6267849    0.18966085
   35.679085   153.68541   ]]

In [ ]:
first = np.array(X[:1])

with np.printoptions(precision=2, suppress=True):
  print('First example:', first)
  print()
  print('Normalized:', normalizer(first).numpy())

First example: [[ 1.    0.24  0.29  0.81  0.    3.   13.  ]]

Normalized: [[-0.66 -1.34 -1.1   0.95 -1.55 -0.66 -0.93]]

In [ ]:
model = models.Sequential([
      normalizer,
      layers.Dense(64, activation='relu'),
      layers.Dense(64, activation='relu'),
      layers.Dense(1)     
])

model.compile(loss='mean_absolute_error', optimizer='adam', 
              metrics=['accuracy'])

In [ ]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 normalization (Normalizatio  (None, 7)                15
 n)

 dense_4 (Dense)             (None, 64)                512

 dense_5 (Dense)             (None, 64)                4160

 dense_6 (Dense)             (None, 1)                 65

=================================================================
Total params: 4,752
Trainable params: 4,737
Non-trainable params: 15
_________________________________________________________________

In [ ]:
history = model.fit(X_train,y_train,epochs=100, verbose=2)

Epoch 1/100
435/435 - 1s - loss: 96.8498 - accuracy: 0.0093 - 870ms/epoch - 2ms/step
Epoch 2/100
435/435 - 1s - loss: 7.2118 - accuracy: 0.0081 - 518ms/epoch - 1ms/step
Epoch 3/100
435/435 - 0s - loss: 1.7341 - accuracy: 0.0079 - 480ms/epoch - 1ms/step
Epoch 4/100
435/435 - 0s - loss: 0.8997 - accuracy: 0.0082 - 483ms/epoch - 1ms/step
Epoch 5/100
435/435 - 0s - loss: 0.6558 - accuracy: 0.0078 - 463ms/epoch - 1ms/step
Epoch 6/100
435/435 - 0s - loss: 0.5265 - accuracy: 0.0083 - 468ms/epoch - 1ms/step
Epoch 7/100
435/435 - 0s - loss: 0.4806 - accuracy: 0.0082 - 471ms/epoch - 1ms/step
Epoch 8/100
435/435 - 0s - loss: 0.4281 - accuracy: 0.0086 - 466ms/epoch - 1ms/step
Epoch 9/100
435/435 - 0s - loss: 0.3809 - accuracy: 0.0085 - 460ms/epoch - 1ms/step
Epoch 10/100
435/435 - 0s - loss: 0.3743 - accuracy: 0.0085 - 487ms/epoch - 1ms/step
Epoch 11/100
435/435 - 0s - loss: 0.3499 - accuracy: 0.0086 - 467ms/epoch - 1ms/step
Epoch 12/100
435/435 - 0s - loss: 0.3598 - accuracy: 0.0081 - 483ms/epoch - 1ms/step
Epoch 13/100
435/435 - 0s - loss: 0.3606 - accuracy: 0.0083 - 480ms/epoch - 1ms/step
Epoch 14/100
435/435 - 0s - loss: 0.3251 - accuracy: 0.0082 - 462ms/epoch - 1ms/step
Epoch 15/100
435/435 - 0s - loss: 0.3166 - accuracy: 0.0086 - 479ms/epoch - 1ms/step
Epoch 16/100
435/435 - 0s - loss: 0.3017 - accuracy: 0.0086 - 464ms/epoch - 1ms/step
Epoch 17/100
435/435 - 0s - loss: 0.2968 - accuracy: 0.0079 - 491ms/epoch - 1ms/step
Epoch 18/100
435/435 - 0s - loss: 0.2845 - accuracy: 0.0084 - 463ms/epoch - 1ms/step
Epoch 19/100
435/435 - 0s - loss: 0.2725 - accuracy: 0.0086 - 495ms/epoch - 1ms/step
Epoch 20/100
435/435 - 0s - loss: 0.3053 - accuracy: 0.0081 - 474ms/epoch - 1ms/step
Epoch 21/100
435/435 - 0s - loss: 0.2822 - accuracy: 0.0084 - 473ms/epoch - 1ms/step
Epoch 22/100
435/435 - 0s - loss: 0.2871 - accuracy: 0.0088 - 472ms/epoch - 1ms/step
Epoch 23/100
435/435 - 0s - loss: 0.2820 - accuracy: 0.0089 - 478ms/epoch - 1ms/step
Epoch 24/100
435/435 - 0s - loss: 0.2730 - accuracy: 0.0083 - 441ms/epoch - 1ms/step
Epoch 25/100
435/435 - 0s - loss: 0.2775 - accuracy: 0.0086 - 465ms/epoch - 1ms/step
Epoch 26/100
435/435 - 0s - loss: 0.2633 - accuracy: 0.0089 - 474ms/epoch - 1ms/step
Epoch 27/100
435/435 - 0s - loss: 0.2891 - accuracy: 0.0085 - 470ms/epoch - 1ms/step
Epoch 28/100
435/435 - 0s - loss: 0.2497 - accuracy: 0.0086 - 463ms/epoch - 1ms/step
Epoch 29/100
435/435 - 0s - loss: 0.2759 - accuracy: 0.0088 - 469ms/epoch - 1ms/step
Epoch 30/100
435/435 - 0s - loss: 0.2597 - accuracy: 0.0088 - 463ms/epoch - 1ms/step
Epoch 31/100
435/435 - 0s - loss: 0.2264 - accuracy: 0.0089 - 472ms/epoch - 1ms/step
Epoch 32/100
435/435 - 0s - loss: 0.2547 - accuracy: 0.0088 - 464ms/epoch - 1ms/step
Epoch 33/100
435/435 - 0s - loss: 0.2514 - accuracy: 0.0088 - 479ms/epoch - 1ms/step
Epoch 34/100
435/435 - 0s - loss: 0.2784 - accuracy: 0.0083 - 470ms/epoch - 1ms/step
Epoch 35/100
435/435 - 1s - loss: 0.2740 - accuracy: 0.0083 - 502ms/epoch - 1ms/step
Epoch 36/100
435/435 - 0s - loss: 0.2661 - accuracy: 0.0087 - 489ms/epoch - 1ms/step
Epoch 37/100
435/435 - 0s - loss: 0.2703 - accuracy: 0.0088 - 457ms/epoch - 1ms/step
Epoch 38/100
435/435 - 0s - loss: 0.2355 - accuracy: 0.0086 - 442ms/epoch - 1ms/step
Epoch 39/100
435/435 - 0s - loss: 0.2603 - accuracy: 0.0091 - 486ms/epoch - 1ms/step
Epoch 40/100
435/435 - 0s - loss: 0.2630 - accuracy: 0.0087 - 486ms/epoch - 1ms/step
Epoch 41/100
435/435 - 0s - loss: 0.2497 - accuracy: 0.0086 - 479ms/epoch - 1ms/step
Epoch 42/100
435/435 - 0s - loss: 0.2586 - accuracy: 0.0083 - 458ms/epoch - 1ms/step
Epoch 43/100
435/435 - 0s - loss: 0.2481 - accuracy: 0.0086 - 463ms/epoch - 1ms/step
Epoch 44/100
435/435 - 0s - loss: 0.2332 - accuracy: 0.0086 - 465ms/epoch - 1ms/step
Epoch 45/100
435/435 - 0s - loss: 0.2283 - accuracy: 0.0088 - 462ms/epoch - 1ms/step
Epoch 46/100
435/435 - 0s - loss: 0.2253 - accuracy: 0.0091 - 458ms/epoch - 1ms/step
Epoch 47/100
435/435 - 0s - loss: 0.2338 - accuracy: 0.0091 - 475ms/epoch - 1ms/step
Epoch 48/100
435/435 - 0s - loss: 0.2380 - accuracy: 0.0084 - 491ms/epoch - 1ms/step
Epoch 49/100
435/435 - 0s - loss: 0.2585 - accuracy: 0.0084 - 475ms/epoch - 1ms/step
Epoch 50/100
435/435 - 0s - loss: 0.2095 - accuracy: 0.0092 - 457ms/epoch - 1ms/step
Epoch 51/100
435/435 - 0s - loss: 0.2262 - accuracy: 0.0090 - 476ms/epoch - 1ms/step
Epoch 52/100
435/435 - 0s - loss: 0.2649 - accuracy: 0.0086 - 478ms/epoch - 1ms/step
Epoch 53/100
435/435 - 0s - loss: 0.2351 - accuracy: 0.0091 - 476ms/epoch - 1ms/step
Epoch 54/100
435/435 - 0s - loss: 0.2479 - accuracy: 0.0087 - 483ms/epoch - 1ms/step
Epoch 55/100
435/435 - 0s - loss: 0.2492 - accuracy: 0.0085 - 491ms/epoch - 1ms/step
Epoch 56/100
435/435 - 0s - loss: 0.2266 - accuracy: 0.0091 - 472ms/epoch - 1ms/step
Epoch 57/100
435/435 - 0s - loss: 0.2141 - accuracy: 0.0091 - 470ms/epoch - 1ms/step
Epoch 58/100
435/435 - 0s - loss: 0.2133 - accuracy: 0.0088 - 458ms/epoch - 1ms/step
Epoch 59/100
435/435 - 0s - loss: 0.2596 - accuracy: 0.0088 - 473ms/epoch - 1ms/step
Epoch 60/100
435/435 - 0s - loss: 0.2338 - accuracy: 0.0090 - 450ms/epoch - 1ms/step
Epoch 61/100
435/435 - 1s - loss: 0.2327 - accuracy: 0.0091 - 500ms/epoch - 1ms/step
Epoch 62/100
435/435 - 0s - loss: 0.2225 - accuracy: 0.0088 - 471ms/epoch - 1ms/step
Epoch 63/100
435/435 - 0s - loss: 0.2372 - accuracy: 0.0091 - 451ms/epoch - 1ms/step
Epoch 64/100
435/435 - 0s - loss: 0.2129 - accuracy: 0.0091 - 478ms/epoch - 1ms/step
Epoch 65/100
435/435 - 0s - loss: 0.2114 - accuracy: 0.0092 - 464ms/epoch - 1ms/step
Epoch 66/100
435/435 - 0s - loss: 0.2189 - accuracy: 0.0091 - 493ms/epoch - 1ms/step
Epoch 67/100
435/435 - 0s - loss: 0.2151 - accuracy: 0.0091 - 483ms/epoch - 1ms/step
Epoch 68/100
435/435 - 0s - loss: 0.2212 - accuracy: 0.0090 - 458ms/epoch - 1ms/step
Epoch 69/100
435/435 - 0s - loss: 0.2114 - accuracy: 0.0091 - 460ms/epoch - 1ms/step
Epoch 70/100
435/435 - 0s - loss: 0.2458 - accuracy: 0.0091 - 473ms/epoch - 1ms/step
Epoch 71/100
435/435 - 0s - loss: 0.2166 - accuracy: 0.0083 - 474ms/epoch - 1ms/step
Epoch 72/100
435/435 - 0s - loss: 0.2275 - accuracy: 0.0087 - 476ms/epoch - 1ms/step
Epoch 73/100
435/435 - 0s - loss: 0.2080 - accuracy: 0.0091 - 487ms/epoch - 1ms/step
Epoch 74/100
435/435 - 0s - loss: 0.1937 - accuracy: 0.0091 - 481ms/epoch - 1ms/step
Epoch 75/100
435/435 - 0s - loss: 0.2277 - accuracy: 0.0090 - 467ms/epoch - 1ms/step
Epoch 76/100
435/435 - 0s - loss: 0.1955 - accuracy: 0.0091 - 476ms/epoch - 1ms/step
Epoch 77/100
435/435 - 0s - loss: 0.2168 - accuracy: 0.0088 - 466ms/epoch - 1ms/step
Epoch 78/100
435/435 - 0s - loss: 0.2278 - accuracy: 0.0088 - 491ms/epoch - 1ms/step
Epoch 79/100
435/435 - 0s - loss: 0.2164 - accuracy: 0.0091 - 473ms/epoch - 1ms/step
Epoch 80/100
435/435 - 0s - loss: 0.2038 - accuracy: 0.0091 - 453ms/epoch - 1ms/step
Epoch 81/100
435/435 - 0s - loss: 0.2357 - accuracy: 0.0091 - 459ms/epoch - 1ms/step
Epoch 82/100
435/435 - 0s - loss: 0.1990 - accuracy: 0.0091 - 461ms/epoch - 1ms/step
Epoch 83/100
435/435 - 0s - loss: 0.2518 - accuracy: 0.0092 - 474ms/epoch - 1ms/step
Epoch 84/100
435/435 - 0s - loss: 0.1976 - accuracy: 0.0092 - 451ms/epoch - 1ms/step
Epoch 85/100
435/435 - 0s - loss: 0.2164 - accuracy: 0.0090 - 472ms/epoch - 1ms/step
Epoch 86/100
435/435 - 0s - loss: 0.1992 - accuracy: 0.0091 - 453ms/epoch - 1ms/step
Epoch 87/100
435/435 - 0s - loss: 0.1947 - accuracy: 0.0091 - 468ms/epoch - 1ms/step
Epoch 88/100
435/435 - 0s - loss: 0.2113 - accuracy: 0.0092 - 471ms/epoch - 1ms/step
Epoch 89/100
435/435 - 0s - loss: 0.2111 - accuracy: 0.0091 - 471ms/epoch - 1ms/step
Epoch 90/100
435/435 - 0s - loss: 0.2262 - accuracy: 0.0092 - 489ms/epoch - 1ms/step
Epoch 91/100
435/435 - 0s - loss: 0.1981 - accuracy: 0.0090 - 478ms/epoch - 1ms/step
Epoch 92/100
435/435 - 0s - loss: 0.2406 - accuracy: 0.0091 - 466ms/epoch - 1ms/step
Epoch 93/100
435/435 - 0s - loss: 0.2252 - accuracy: 0.0091 - 476ms/epoch - 1ms/step
Epoch 94/100
435/435 - 0s - loss: 0.2126 - accuracy: 0.0091 - 471ms/epoch - 1ms/step
Epoch 95/100
435/435 - 0s - loss: 0.2019 - accuracy: 0.0091 - 458ms/epoch - 1ms/step
Epoch 96/100
435/435 - 0s - loss: 0.2209 - accuracy: 0.0089 - 481ms/epoch - 1ms/step
Epoch 97/100
435/435 - 0s - loss: 0.2351 - accuracy: 0.0092 - 457ms/epoch - 1ms/step
Epoch 98/100
435/435 - 0s - loss: 0.2220 - accuracy: 0.0091 - 457ms/epoch - 1ms/step
Epoch 99/100
435/435 - 0s - loss: 0.2284 - accuracy: 0.0091 - 438ms/epoch - 1ms/step
Epoch 100/100
435/435 - 0s - loss: 0.2167 - accuracy: 0.0091 - 456ms/epoch - 1ms/step

In [ ]:
test_results = {}

test_results['dnn_model'] = model.evaluate(X_test, y_test, verbose=2)

109/109 - 0s - loss: 0.3739 - accuracy: 0.0081 - 215ms/epoch - 2ms/step